registry=https://pkgs.dev.azure.com/serko/_packaging/serko-npm/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/serko/_packaging/serko-npm/npm/registry/:username=serko
//pkgs.dev.azure.com/serko/_packaging/serko-npm/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/serko/_packaging/serko-npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/serko/_packaging/serko-npm/npm/:username=serko
//pkgs.dev.azure.com/serko/_packaging/serko-npm/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/serko/_packaging/serko-npm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
